*
{
	box-sizing : border-box ;
	margin : 0 ;
	padding : 0 ;
}

html
{
	background-color: hsl( 175 , 45% , 50% ) ;
	
	color : hsl( 0 , 0% , 10% ) ;
}

body , main , article , section , ul
{
	padding : 0.8ex ;
	background-color: hsl( 0 , 0% , 100% , 20% ) ;
}

body
{
	margin-inline : auto ;
	max-width : 1000px ;
}

h1 , h2 , h3
{
	text-align : center ;
}

ul
{
	list-style : none ;
}

textarea { padding : 1ex ; }
button { padding: 1ex 1em ; }

.Range
{
	display: grid ;
	grid-template-columns: 3em 1fr auto ;
	gap : 1ex ;
}

.Range .value-unit
{
	display: grid ;
	grid-template-columns : 5ex 1em ;
	gap : 0.35ex ;
}

.Range .value { text-align: right ; }
